@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
	background-color: #041218;
	color: #fff;
	font-family: "Montserrat", sans-serif;
}

a {
	text-decoration: none;
	color: #fff;
}

.navbar-toggler {
	border: none;
}

a:hover {
	color: #fff;
}

.h1 {
	text-transform: uppercase;
	font-weight: 700;
}

.categories {
	color: #fff;
	text-decoration: none;
	font-weight: 800;
	text-transform: uppercase;
}

.navbar-brand-logo img {
	width: 50px;
	transform: rotate(25deg);
}

.navbar-brand {
	color: #F6F1EE;
	font-size: 1.2em;
}

.navbar-brand:hover {
	cursor: pointer;
}

.carousel {
	padding: 0;
	margin-bottom: 100px;
}

.carousel img {
	height: 60;
	object-fit: center;
	object-position: center;
}

.carousel-item:hover {
	cursor: pointer;
}

.col img {
	width: 100%;
	transition: .8s;
	border-radius: 10px;
}

.col img:hover {
	cursor: pointer;
	transform: scale(1.05);
}

footer {
	background-color: #e8771ae3;
	color: #F6F1EE;
}

#loginbutton {
	color: #F6F1EE;
	text-decoration: none;
	font-size: 1.2rem;
}


.footer-text p {
	font-size: .8em;
}

.footer-text p:first-child {
	font-size: .8em;
}

.footer-text p:last-child {
	font-size: .5em;
}