body{
	background-color: #041218;
	color: #fff;
}
.h1 {
	text-transform: uppercase;
	font-weight: 700;
}
.header {
	padding-inline: 100px;
}

.navbar-brand-logo img {
    width: 75px;
    transform: rotate(25deg);
}

:first-of-type nav {
	background-color: #e8771ae3;
	color: #F6F1EE;
}

#navheader {
	background-color: #E8751A;
}

#navheader .container-fluid {
	justify-content: center;
}

.navbar-brand {
	color: #F6F1EE;
	font-size: 1.2em;
}

.navbar-brand:hover {
	cursor: pointer;
}

.header button {
	background-color: #4F4A45;
	color: #F6F1EE;
	border: none;
}

.header button:hover{ 
	background-color: #55504a;
	border: none;
}

.carousel {
	padding: 0;
	margin-bottom: 100px;
}

.carousel-item:hover {
	cursor: pointer;
}
.col img {
	width: 100%;
	transition: .8s;
	border-radius: 10px;
}

.col img:hover{
	cursor: pointer;
	transform: scale(1.05);
}

footer {
	background-color: #e8771ae3;
	color: #F6F1EE;
}

#loginbutton{
	color: #F6F1EE;
	text-decoration: none;
	font-size: 1.2rem;
}


.footer-text p{
	font-size: .8em;
}

.footer-text p:first-child{
	font-size: .8em;
}

.footer-text p:last-child{
	font-size: .5em;
}