.container-fluid {
  background-color: #EEEDEB;
}

.searchinput {
  width: 100%;
}

#sidebarMenu {
  width: 300px;
}

.nav-pills .nav-link.active {
  background-color: #f2f2f2;
  color: #000;
}

.navbar-brand-logo img {
  width: 50px;
  transform: rotate(25deg);
}

.table {
  font-size: 100%;
}

.table th,
.table td {
  font-size: 1rem;
}

.btn-sm {
  margin-right: 5px;
}

#mobileBtn {
  margin-left: 10px;
}

@media (max-width: 576px) {
  #sidebarMenu {
    width: 100%;
  }

  #smallSidebarMenu {
    display: none !important;
  }

}

@media (min-width: 768px) {

  .table th,
  .table td {
    font-size: 0.9rem;
  }
}

@media (max-width: 992px) {
  #sidebarMenu {
    width: 100%;
  }

  #dropdown a{
    text-align: center;
  }
  
  #smallSidebarMenu {
    display: none !important;
  }

  #mobileBtn {
    display: block !important;
  }

  .table th,
  .table td {
    font-size: 0.8rem;
  }
}

@media (min-width: 1200px) {

  .table th,
  .table td {
    font-size: 0.85rem;
  }
}