.header {
	padding-inline: 100px;
}

.navbar-brand-logo img {
	width: 75px;
	transform: rotate(25deg);
}

:first-of-type nav {
	background-color: #e8771ae3;
	color: #F6F1EE;
}

#navheader {
	background-color: #E8751A;
}

#navheader .container-fluid {
	justify-content: center;
}

.navbar-brand {
	color: #F6F1EE;
	margin-right: 50px;
	font-size: 1em;
}

.navbar-brand:hover {
	cursor: pointer;
}

.header button {
	background-color: #4F4A45;
	color: #F6F1EE;
	border: none;
}

.header button:hover {
	background-color: #55504a;
	border: none;
}

#loginbutton {
	color: #F6F1EE;
	text-decoration: none;
	font-size: 1.2rem;
}

#logo-name {
	text-decoration: none;
	color: #F6F1EE;
}

#cartaz_filme {
	border-radius: 10px;
}

.youtube-video iframe {
	width: 100%;
	height: 400px;
}