.container-fluid {
    background-color: #f2f2f2;
}

.sidebar {
    width: 280px;
}

@media (max-width: 576px) {
    .sidebar {
        display: none !important;
    }
}

.navbar-brand-logo img {
    width: 50px;
    transform: rotate(25deg);
}

.table {
    font-size: 100%;
}

.table th,
.table td {
    font-size: 1rem;
    max-width: 200px;
}

@media (min-width: 768px) {
    .table th,
    .table td {
        font-size: 0.9rem;
    }
}

@media (min-width: 992px) {
    .table th,
    .table td {
        font-size: 0.8rem;
    }
}

@media (min-width: 1200px) {
    .table th,
    .table td {
        font-size: 0.85rem;
    }
}